# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment
.env
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# JSON and CSV data files
*.json
*.csv